/* ---------------
	Variables
--------------- */
/* ---------------
	Core elements
--------------- */
html {
  background: #000000;
}
body {
  background: #000000 url(../images/site-background.jpg) no-repeat top;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 15px;
  min-height: 700px;
}
a {
  color: #286e6d;
}
a:visited {
  color: #286e6d;
}
a:hover {
  color: #286e6d;
}